<div class="row">
    <div class="main">
        <h2 style="text-align:center">HAKKIMIZDA</h2>
        <br />
        <div class="fakeimg" style="height:300px;text-align:center">
            <img src="~/img/logo.jpeg" alt="LİFTMARKET - Kamyon" height="300" style="text-align:center">
        </div>
        <p style="text-align:center">Önceliğimiz işiniz.</p>
        <p style="text-align:center">
            Türkiye pazarında, hidrolik kamyon arkası kapakların ,  müşteri ihtiyaçlarını karşılamak için kurulmuş olan liftmarket ,kurulduğu tarihten itibaren siz değerli müşterilerimize, kaliteli ürün ve hizmet vermek için çalışmaktadır. Firmamız ,uzman satış ekibiyle , siz değerli müşterilerimize MBB-PALFİNGER kalitesini sunmak için çalışmaktadır. Siz değerli müşterilerimiz, işlerini aksatmaması için 7/24 servis hizmeti vermektedir.
            Saygılarımızla,
</p>

    </div>
</div>
