<div class="row">
    <div class="main">
        <h2 style="text-align:center">İLETİŞİM</h2>
        <br />
        <div class="fakeimg" style="height:300px;text-align:center">
            <img src="~/img/logo.jpeg" alt="LİFTMARKET - Kamyon" height="300" style="text-align:center">
        </div>
        <p style="text-align:center">Önceliğimiz işiniz.</p>
        <p style="text-align:center"> Adres:Kaynarca Mahallesi, Sahil Blv. No:63,34890 Pendik/İstanbul
        </p>
        <p style="text-align:center">Gsm:  +90 555 555 55 55</p>
        <p style="text-align:center"> Mail: info@liftmarket.com </p>

    </div>
</div>
