<style>
    div .gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 360px;
    }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

    div.desc {
        padding: 15px;
        text-align: center;
    }
</style>

<div class="row">
    <div class="main">
        <h2 style="text-align:center">ÜRÜNLERİMİZ</h2>
        <br />
        <div class="fakeimg" style="height:300px;text-align:center">
            <img src="~/img/logo.jpeg" alt="LİFTMARKET - Kamyon" height="300" style="text-align:center">
        </div>
        <p style="text-align:center">Önceliğimiz işiniz.</p>
        
    </div>
    <div class="gallery">
        <a target="_blank" href="img_5terre.jpg">
            <img src="~/img/mbbc1000lkamyonetlifti.1.png" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">MBB C 1000 L </div>
    </div>
    <div class="gallery">
        <a target="_blank" href="img_5terre.jpg">
            <img src="~/img/mbbc1500lkamyonetlifti.1.png" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">MBB C 1500 L </div>
    </div>
    <div class="gallery">
        <a target="_blank" href="img_5terre.jpg">
            <img src="~/img/mbbc2000lkamyonetlifti.1.png" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">MBB C 2000 L </div>
    </div>
    <div class="gallery">
        <a target="_blank" href="img_5terre.jpg">
            <img src="~/img/mbbc1000lkamyonetlifti.2.png" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">MBB C 1000 L İÇERİK </div>
    </div>
    <div class="gallery">
        <a target="_blank" href="img_5terre.jpg">
            <img src="~/img/mbbc1500lkamyonetlifti.2.png" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">MBB C 1500 L İÇERİK </div>
    </div>
    <div class="gallery">
        <a target="_blank" href="img_5terre.jpg">
            <img src="~/img/mbbc2000lkamyonetlifti.2.png" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">MBB C 2000 L İÇERİK </div>
    </div>
</div>
